.gg{
  background-color: yellow;
  color: blue;
  position:absolate;
  left : 75%;
  
}
.tt{
  color: deepskyblue;
  background-color: aquamarine;
  position: absolute ;
  top: 45% ;
  left: 50% ;
  transform: translate(-50% ,-50%);
  
  
}

.gt{
  position : absolute;
  top: 80%;
  left: 50% ;
  transform: translate(-50% ,-50%);
  
  
}